


<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wholesale %><br>
    <%= f.text_field :wholesale %>
  </div>
  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_field :markup %>
  </div>
  <div class="field">
    <%= f.label :taxes %><br>
    <%= f.text_field :taxes %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status ,:as => :check_boxes, collection: [['Pending', 'Sold']] %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select(:employee_id, Employee.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, prompt: true)%>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select(:vehicle_id, Vehicle.all, :id, :VIN, prompt: true)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
