#encoding: utf-8

<p id="notice"><%= notice %></p>



<h1>Sales Quotes</h1>
<table>
  <thead>
    <tr>
      <th>Wholesale</th>
      <th>Markup</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Status</th>
      <th>Employee</th>
      <th>Customer</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @quotes.each do |quote| %>
      <tr>
        <td><%= number_to_currency(quote.wholesale) %></td>
        <td><%= number_to_percentage(quote.markup, precision: 0) %></td>
        <td><%= number_to_percentage(quote.taxes, precision: 1) %></td>
        <td><%= number_to_currency(quote.total) %></td>
        <td><%= quote.status %></td>
        <td><%= quote.employee_id %></td>
        <td><%= quote.customer_id %></td>
        <td><%= quote.vehicle_id %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
</div>
<div id="footer">
  Veronica Paz CIS 4339 Project Copyright © W3Schools.com
</div>

</body>
