<p id="notice"><%= notice %></p>

<p>
  <strong>Wholesale:</strong>
  <%= number_to_currency(@quote.wholesale) %>
</p>

<p>
  <strong>Markup:</strong>
  <%= number_to_percentage(@quote.markup, precision: 0) %>
</p>

<p>
  <strong>Taxes:</strong>
  <%=number_to_percentage(@quote.taxes, precision: 1) %>
</p>

<p>
  <strong>Total:</strong>
  <%=number_to_currency(@quote.total) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle_id %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
