#encoding: utf-8
<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Customer</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vehicle_id %></td>
        <td><%= vehicle.customer_id %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.VIN %></td>
        <td><%= vehicle.color %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>

<div id="footer">
  Veronica Paz CIS 4339 Project Copyright © W3Schools.com
</div>

