/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {

    background-color:deepskyblue;
    color:white;
    text-align:center;
    padding:5px;
}
#nav{
    line-height:50px;
    background-color:lightblue;
    height:500px;
    width:100px;
    float:left;
    padding:10px;
}
#aside {
    background-color:lightgray;
    float:left;
    text-align: center;
    padding:10px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
    text-align: center;
    background-color:lightgray

}
#footer {
    background-color: deepskyblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}