
#header {
    background-color:deepskyblue;
    color:white;
    text-align:center;
    padding:5px;
}
#nav{
    line-height:50px;
    background-color:lightblue;
    height:500px;
    width:100px;
    float:left;
    padding:10px;
}
#aside {
    background-color:lightgray;
    float:left;
    text-align: center;
    padding:10px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
    text-align: center;
    background-color: lightgray;

}
#footer {
    background-color: deepskyblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}