<table class="CSSTableGenerator" width="30%">
  <th>Month</th>
  <th>Beginning Balance</th>
  <th>Monthly Payment</th>
  <th>Principal Paid</th>
  <th>Interest Paid</th>

  <%counter=0%>
  <% @amortization_array.each_with_index do |p,n|  %>
      <tr>
        <td><%= n+1%></td>
        <td><%= number_to_currency(p.round(2))%></td>
        <td><%= number_to_currency(Financing.monthly_payment.round(2))%></td>
        <td><%= number_to_currency(Financing.principal_paid.round(2))%></td>
        <td><%= number_to_currency(Financing.interest_paid.round(2))%></td>



      </tr>
      <%counter+=1%>
  <% end %>


</table>
