<%= form_for(@financing) do |f| %>
  <% if @financing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financing.errors.count, "error") %> prohibited this financing from being saved:</h2>

      <ul>
      <% @financing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchase_price %><br>
    <%= f.text_field :purchase_price %>
  </div>
  <div class="field">
    <%= f.label :loan_term %><br>
    <%= f.select :loan_term, (3..5) %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div id="amortig-table" class="table-format"></div>