#encoding: utf-8
<p id="notice"><%= notice %></p>

<h1>Financing</h1>

<table>
  <thead>
    <tr>
      <th>Purchase Price</th>
      <th>Loan Term Years</th>
      <th>Interest Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financings.each do |financing| %>
      <tr>
        <td><%=number_to_currency(financing.purchase_price) %></td>
        <td><%= financing.loan_term%></td>
        <td><%= number_to_percentage(financing.interest_rate, precision: 1) %></td>
        <td><%= link_to 'Show', financing %></td>
        <td><%= link_to 'Edit', edit_financing_path(financing) %></td>
        <td><%= link_to 'Destroy', financing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financing', new_financing_path %>
<div id="footer">
  Veronica Paz CIS 4339 Project Copyright © W3Schools.com
</div>

