<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase price:</strong>
  <%= number_to_currency(@financing.purchase_price) %>
</p>

<p>
  <strong>Loan term:</strong>
  <%= @financing.loan_term %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= number_to_percentage(@financing.interest_rate, precision: 1)%>
</p>

<%= render 'amortization_table' %>


<%= link_to 'Edit', edit_financing_path(@financing) %> |
<%= link_to 'Back', financings_path %>
