#encoding: utf-8
<p id="notice"><%= notice %></p>

<h1>Total Sales</h1>

<table>
  <thead>
    <tr>
      <th>Markup</th>
      <th>Tax</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= number_to_currency(sale.markup) %></td>
        <td><%= number_to_currency(sale.tax) %></td>
        <td><%= number_to_currency(sale.total) %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<th><b>Total Revenue:</b></th>
<td><%= number_to_currency(@sales.map{|item| item.total}.reduce(0, :+)) %></td>
</tr>
<br>
<br>

<th><b>Total Sales Tax:</b></th>
<td><%= number_to_currency(@sales.map{|item| item.sales_tax_price}.reduce(0, :+)) %></td>
</tr>

<br>
<br>

<th><b>Gross Profit:</b></th>
<td><%= number_to_currency(@sales.map{|item| item.gross_profit}.reduce(0, :+)) %></td>
</tr>

<br>
<br>
<%= link_to 'New Sale', new_sale_path %>
<div id="footer">
  Veronica Paz CIS 4339 Project Copyright © W3Schools.com
</div>

