<p id="notice"><%= notice %></p>

<p>
  <strong>Markup:</strong>
  <%= @sale.markup %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @sale.tax %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
