
<!DOCTYPE html>

<html>
<head>

  <title>La Paz Dealer</title>
    <br>
    </div>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div id = "header">

  <%= link_to "Vehicles", vehicles_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Quotes", quotes_path %>
  <%= link_to "Employees", employees_path %>
  <%= link_to "Financing", financings_path %>
  <%=  link_to "Sales", sales_path %>

</div>



<body class = '<%= controller.controller_name %>'>


<div>
  <% unless session[:user].nil? %>
      <h1>Welcome <%=session[:user] %> </h1>
      <p><%= link_to "Log out",session_logout_path%></p>
  <% end %>
  <br>
</div>
<%= yield %>
</body>
</html>
</div>
